<?php

/**
 * confirmation message template. 
 *
 * @author Tamara Temple
 * @version $Id$
 * @copyright Tamara Temple Development, 17 August, 2010
 * @package default
 **/

/**
 * Simply include this file to interpolate variables.
 * Note: use include, not include_once, so it gets reinterpolated with each setting.
 **/

$confirmation_message = <<<EOM
<html>
<body>
<h3>$SUBJECT</h3>

<table border="0" cellspacing="5" cellpadding="5" align="center" width="70%">
	<tr><td>
	<p>Greetings from $ORGANIZERFIRSTNAME $ORGANIZERLASTNAME!</p>
	$CUSTOMMSG
	<blockquote>
	<h2>Details</h2>
	<ul>
	<li>Organizer: $ORGANIZERFIRSTNAME $ORGANIZERLASTNAME, $ORGANIZEREMAIL, $ORGANIZERPHONE
	<li>Purpose: $PURPOSE</li>
	<li>Start Time: $STARTTIME</li>
	<li>End Time: $ENDTIME</li>
	<li>Location: $LOCATION</li>
	<li>Guests: $GUESTLIST</li>
	</ul>
	</blockquote>
	<p>If you have questions, you can contact me at $ORGANIZEREMAIL or $ORGANIZERPHONE.</p>
	<p>Sent by $SENDERFIRSTNAME $SENDERLASTNAME, $SENDEREMAIL, $SENDERPHONE</p>
	</td></tr>
</table>
</body>
</html>
EOM


?>